*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(91, 145, 145);
}
button{
    background-color: blue;
}
#mystere{
    display: flex;
}
#lettre{
    border: 1px ridge black;
    font-size: 19px;
    width: 30%;
    height: 19px;
}
.letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    margin-left: 25px;
    visibility: hidden;
}
.letter::after{
    content: "";
    width: 20px;
    border: 2px ridge black;
    visibility: visible;
}